<%=  which_action == 'new' ? provide(:title, "New user") : provide(:title, "Edit User")  %>

<h1><%= which_action == "new" ? "Sign up!" : "Edit #{@user.name}" %></h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      
      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.label :password %>
      <%= f.password_field :password %>
      
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      
      <%= f.submit class: "btn btn-primary btn-medium" %>
    <% end %>
  </div>
</div>